@import "var.scss";

.wrapper {
    min-width: 332px;
    width: 332px;
    border: 1px solid $white_gray;

    .container {
        padding: 30px;
        position: relative;

        .wrapper_marker {
            display: flex;
            justify-content: flex-end;
        }

        .wrapper_img {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .description {
            .other_info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .type {
                    color: $gray;
                    font-size: 12px;
                    cursor: default;
                }

                .grade {
                    display: flex;
                    gap: 4px;
                }

                .reviews {
                    a {
                        color: $gray;
                        font-size: 12px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .name {
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.22rem;
                color: $dark;
            }

            .price {
                margin-top: 8px;
                font-size: 11px;
                color: $gray;
                font-weight: 600;
                cursor: default;

                &_num {
                    font-size: 22px;
                    color: $dark;
                }
            }

            .controlls {
                margin-top: 12px;
                display: flex;
                justify-content: space-between;

                .count_btn_dop {
                    color: white;
                    background: $green;
                    border-radius: 9999px;
                    border: none;
                    padding: 10px 60px;
                    cursor: pointer;
                }

                .count {
                    display: flex;
                    background: $white_gray;
                    border-radius: 9999px;
                    display: flex;
                    align-items: center;
                    width: 175px;

                    .count_btn {
                        color: white;
                        background: $violet;
                        border-radius: 9999px;
                        border: none;
                        padding: 10px 20px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }


                    .count_controls {
                        margin-left: 10px;
                        display: flex;

                        .controlls_dic {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            user-select: none;
                            cursor: pointer;
                        }

                        .controlls_num {
                            font-size: 16px;
                            color: $dark;
                            font-weight: 500;
                            margin: 0 10px;
                            user-select: none;
                            cursor: default;
                        }

                        .controlls_inc {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            user-select: none;
                            cursor: pointer;
                        }
                    }
                }


            }
        }
    }

}